@page "/manager"
@model ManagerModel

<h1>مدیریت </h1>
       
<div>
    <a asp-page="Ward">ward</a>
</div>
<div>
    <a asp-page="Role">Role</a>
</div>
<div>
    <a asp-page="Staff">Staff</a>
</div>
<div>
    <a asp-page="ShiftManager">Shift</a>
</div>