@page 
@model ShiftModel 
@{ Layout="_Shiftlayout"; }

<link rel="stylesheet" href="~/css/shift.css" />

<nav dir="rtl">
  <div class="today">
    <button class="s-btn">برو به امروز</button>
  </div>

  <div class="go-up">
    <img class="up-img" src="/arrow.svg" alt="" />
    <p>روز قبل</p>
  </div>

  <div class="go-to">
    <button class="s-btn">برو به</button>
    <select name="day" id="day">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
    <p>خرداد</p>
  </div>
</nav>

<div class="shift-card">
  <div class="card-header">
    <p dir="rtl">
      <span class="week">دوشنبه</span>
      <span class="shamsi-date">1403/3/6</span>
      <span class="shamsi-month">خرداد معادل</span>
      <span class="gerigory-date" dir="ltr"> 2024/4/4</span>
    </p>
  </div>
  <div class="shift-info" dir="rtl">
    <div class="shift-sec morning">
      <div class="shift-name">
        <p>صبح</p>
      </div>
      <div class="staff-names">
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
      </div>
    </div>

    <div class="shift-sec evening">
      <div class="shift-name">
        <p>عصر</p>
      </div>
      <div class="staff-names">
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
      </div>
    </div>

    <div class="shift-sec night">
      <div class="shift-name">
        <p>شب</p>
      </div>
      <div class="staff-names">
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
        <div class="staff-name">
          <p>حسین سلیمانی</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="down">
  <p>روز بعد</p>
  <img class="down-img" src="/arrow.svg" alt="" />
</div>
